<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopmanagement.biz.mapper.BizWarehouseInventoryMapper">
    
    <resultMap type="BizWarehouseInventory" id="BizWarehouseInventoryResult">
        <result property="id"    column="id"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="productId"    column="product_id"    />
        <result property="quantity"    column="quantity"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="lastModifiedBy"    column="last_modified_by"    />
        <result property="lastModifiedTime"    column="last_modified_time"    />
    </resultMap>

    <sql id="selectBizWarehouseInventoryVo">
        select id, tenant_id, warehouse_id, product_id, quantity, created_by, created_time, last_modified_by, last_modified_time from biz_warehouse_inventory
    </sql>

    <select id="selectBizWarehouseInventoryList" parameterType="BizWarehouseInventory" resultMap="BizWarehouseInventoryResult">
        <include refid="selectBizWarehouseInventoryVo"/>
        <where>  
            <if test="tenantId != null "> and tenant_id = #{tenantId}</if>
            <if test="warehouseId != null "> and warehouse_id = #{warehouseId}</if>
            <if test="productId != null "> and product_id = #{productId}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="lastModifiedBy != null  and lastModifiedBy != ''"> and last_modified_by = #{lastModifiedBy}</if>
            <if test="lastModifiedTime != null "> and last_modified_time = #{lastModifiedTime}</if>
        </where>
    </select>
    
    <select id="selectBizWarehouseInventoryById" parameterType="Long" resultMap="BizWarehouseInventoryResult">
        <include refid="selectBizWarehouseInventoryVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBizWarehouseInventory" parameterType="BizWarehouseInventory" useGeneratedKeys="true" keyProperty="id">
        insert into biz_warehouse_inventory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tenantId != null">tenant_id,</if>
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="productId != null">product_id,</if>
            <if test="quantity != null">quantity,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="lastModifiedBy != null">last_modified_by,</if>
            <if test="lastModifiedTime != null">last_modified_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tenantId != null">#{tenantId},</if>
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="lastModifiedBy != null">#{lastModifiedBy},</if>
            <if test="lastModifiedTime != null">#{lastModifiedTime},</if>
         </trim>
    </insert>

    <update id="updateBizWarehouseInventory" parameterType="BizWarehouseInventory">
        update biz_warehouse_inventory
        <trim prefix="SET" suffixOverrides=",">
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="lastModifiedBy != null">last_modified_by = #{lastModifiedBy},</if>
            <if test="lastModifiedTime != null">last_modified_time = #{lastModifiedTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizWarehouseInventoryById" parameterType="Long">
        delete from biz_warehouse_inventory where id = #{id}
    </delete>

    <delete id="deleteBizWarehouseInventoryByIds" parameterType="String">
        delete from biz_warehouse_inventory where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>