<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopmanagement.biz.mapper.BizMemoMapper">
    
    <resultMap type="BizMemo" id="BizMemoResult">
        <result property="memoId"    column="memo_id"    />
        <result property="title"    column="title"    />
        <result property="remark"    column="remark"    />
        <result property="content"    column="content"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="lastModifiedBy"    column="last_modified_by"    />
        <result property="lastModifiedTime"    column="last_modified_time"    />
    </resultMap>

    <sql id="selectBizMemoVo">
        select memo_id, title, remark, content, tenant_id, created_by, created_time, last_modified_by, last_modified_time from biz_memo
    </sql>

    <select id="selectBizMemoList" parameterType="BizMemo" resultMap="BizMemoResult">
        <include refid="selectBizMemoVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
        </where>
    </select>
    
    <select id="selectBizMemoByMemoId" parameterType="Long" resultMap="BizMemoResult">
        <include refid="selectBizMemoVo"/>
        where memo_id = #{memoId}
    </select>
        
    <insert id="insertBizMemo" parameterType="BizMemo" useGeneratedKeys="true" keyProperty="memoId">
        insert into biz_memo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="remark != null">remark,</if>
            <if test="content != null">content,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="lastModifiedBy != null">last_modified_by,</if>
            <if test="lastModifiedTime != null">last_modified_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="remark != null">#{remark},</if>
            <if test="content != null">#{content},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="lastModifiedBy != null">#{lastModifiedBy},</if>
            <if test="lastModifiedTime != null">#{lastModifiedTime},</if>
         </trim>
    </insert>

    <update id="updateBizMemo" parameterType="BizMemo">
        update biz_memo
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="content != null">content = #{content},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="lastModifiedBy != null">last_modified_by = #{lastModifiedBy},</if>
            <if test="lastModifiedTime != null">last_modified_time = #{lastModifiedTime},</if>
        </trim>
        where memo_id = #{memoId}
    </update>

    <delete id="deleteBizMemoByMemoId" parameterType="Long">
        delete from biz_memo where memo_id = #{memoId}
    </delete>

    <delete id="deleteBizMemoByMemoIds" parameterType="String">
        delete from biz_memo where memo_id in 
        <foreach item="memoId" collection="array" open="(" separator="," close=")">
            #{memoId}
        </foreach>
    </delete>
</mapper>