<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopmanagement.biz.mapper.BizWarehouseMapper">
    
    <resultMap type="BizWarehouse" id="BizWarehouseResult">
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="warehouseName"    column="warehouse_name"    />
        <result property="warehouseManager"    column="warehouse_manager"    />
        <result property="warehousePhone"    column="warehouse_phone"    />
        <result property="warehouseAddress"    column="warehouse_address"    />
        <result property="totalShelves"    column="total_shelves"    />
        <result property="freeShelves"    column="free_shelves"    />
        <result property="warehouseStatus"    column="warehouse_status"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="lastModifiedBy"    column="last_modified_by"    />
        <result property="lastModifiedTime"    column="last_modified_time"    />
    </resultMap>

    <sql id="selectBizWarehouseVo">
        select warehouse_id, warehouse_name, warehouse_manager, warehouse_phone, warehouse_address, total_shelves, free_shelves, warehouse_status, tenant_id, created_by, created_time, last_modified_by, last_modified_time from biz_warehouse
    </sql>

    <select id="selectBizWarehouseList" parameterType="BizWarehouse" resultMap="BizWarehouseResult">
        <include refid="selectBizWarehouseVo"/>
        <where>  
            <if test="warehouseName != null  and warehouseName != ''"> and warehouse_name like concat('%', #{warehouseName}, '%')</if>
            <if test="warehouseManager != null  and warehouseManager != ''"> and warehouse_manager = #{warehouseManager}</if>
            <if test="warehouseAddress != null  and warehouseAddress != ''"> and warehouse_address = #{warehouseAddress}</if>
            <if test="warehouseStatus != null  and warehouseStatus != ''"> and warehouse_status = #{warehouseStatus}</if>
        </where>
    </select>
    
    <select id="selectBizWarehouseByWarehouseId" parameterType="Long" resultMap="BizWarehouseResult">
        <include refid="selectBizWarehouseVo"/>
        where warehouse_id = #{warehouseId}
    </select>
        
    <insert id="insertBizWarehouse" parameterType="BizWarehouse" useGeneratedKeys="true" keyProperty="warehouseId">
        insert into biz_warehouse
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="warehouseName != null">warehouse_name,</if>
            <if test="warehouseManager != null">warehouse_manager,</if>
            <if test="warehousePhone != null">warehouse_phone,</if>
            <if test="warehouseAddress != null">warehouse_address,</if>
            <if test="totalShelves != null">total_shelves,</if>
            <if test="freeShelves != null">free_shelves,</if>
            <if test="warehouseStatus != null">warehouse_status,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="lastModifiedBy != null">last_modified_by,</if>
            <if test="lastModifiedTime != null">last_modified_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="warehouseName != null">#{warehouseName},</if>
            <if test="warehouseManager != null">#{warehouseManager},</if>
            <if test="warehousePhone != null">#{warehousePhone},</if>
            <if test="warehouseAddress != null">#{warehouseAddress},</if>
            <if test="totalShelves != null">#{totalShelves},</if>
            <if test="freeShelves != null">#{freeShelves},</if>
            <if test="warehouseStatus != null">#{warehouseStatus},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="lastModifiedBy != null">#{lastModifiedBy},</if>
            <if test="lastModifiedTime != null">#{lastModifiedTime},</if>
         </trim>
    </insert>

    <update id="updateBizWarehouse" parameterType="BizWarehouse">
        update biz_warehouse
        <trim prefix="SET" suffixOverrides=",">
            <if test="warehouseName != null">warehouse_name = #{warehouseName},</if>
            <if test="warehouseManager != null">warehouse_manager = #{warehouseManager},</if>
            <if test="warehousePhone != null">warehouse_phone = #{warehousePhone},</if>
            <if test="warehouseAddress != null">warehouse_address = #{warehouseAddress},</if>
            <if test="totalShelves != null">total_shelves = #{totalShelves},</if>
            <if test="freeShelves != null">free_shelves = #{freeShelves},</if>
            <if test="warehouseStatus != null">warehouse_status = #{warehouseStatus},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="lastModifiedBy != null">last_modified_by = #{lastModifiedBy},</if>
            <if test="lastModifiedTime != null">last_modified_time = #{lastModifiedTime},</if>
        </trim>
        where warehouse_id = #{warehouseId}
    </update>

    <delete id="deleteBizWarehouseByWarehouseId" parameterType="Long">
        delete from biz_warehouse where warehouse_id = #{warehouseId}
    </delete>

    <delete id="deleteBizWarehouseByWarehouseIds" parameterType="String">
        delete from biz_warehouse where warehouse_id in 
        <foreach item="warehouseId" collection="array" open="(" separator="," close=")">
            #{warehouseId}
        </foreach>
    </delete>
</mapper>