<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopmanagement.biz.mapper.BizInboundListMapper">
    
    <resultMap type="BizInboundList" id="BizInboundListResult">
        <result property="inboundListId"    column="inbound_list_id"    />
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="warehouseName"    column="warehouse_name"    />
        <result property="productName"    column="product_name"    />
        <result property="productCategory"    column="product_category"    />
        <result property="productQuantity"    column="product_quantity"    />
        <result property="productTotalPrice"    column="product_total_price"    />
        <result property="productSpecification"    column="product_specification"    />
        <result property="inboundPersonName"    column="inbound_person_name"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="qualityInspectionStatus"    column="quality_inspection_status"    />
        <result property="isInbound"    column="is_inbound"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="lastModifiedBy"    column="last_modified_by"    />
        <result property="lastModifiedTime"    column="last_modified_time"    />
    </resultMap>

    <sql id="selectBizInboundListVo">
        select inbound_list_id, warehouse_id, warehouse_name, product_name, product_category, product_quantity, product_total_price, product_specification, inbound_person_name, supplier_name, quality_inspection_status, is_inbound, tenant_id, created_by, created_time, last_modified_by, last_modified_time from biz_inbound_list
    </sql>

    <select id="selectBizInboundListList" parameterType="BizInboundList" resultMap="BizInboundListResult">
        <include refid="selectBizInboundListVo"/>
        <where>  
            <if test="warehouseName != null  and warehouseName != ''"> and warehouse_name like concat('%', #{warehouseName}, '%')</if>
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="productCategory != null  and productCategory != ''"> and product_category = #{productCategory}</if>
            <if test="supplierName != null  and supplierName != ''"> and supplier_name like concat('%', #{supplierName}, '%')</if>
            <if test="qualityInspectionStatus != null  and qualityInspectionStatus != ''"> and quality_inspection_status = #{qualityInspectionStatus}</if>
            <if test="isInbound != null "> and is_inbound = #{isInbound}</if>
        </where>
    </select>
    
    <select id="selectBizInboundListByInboundListId" parameterType="Long" resultMap="BizInboundListResult">
        <include refid="selectBizInboundListVo"/>
        where inbound_list_id = #{inboundListId}
    </select>
        
    <insert id="insertBizInboundList" parameterType="BizInboundList" useGeneratedKeys="true" keyProperty="inboundListId">
        insert into biz_inbound_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="warehouseName != null">warehouse_name,</if>
            <if test="productName != null">product_name,</if>
            <if test="productCategory != null">product_category,</if>
            <if test="productQuantity != null">product_quantity,</if>
            <if test="productTotalPrice != null">product_total_price,</if>
            <if test="productSpecification != null">product_specification,</if>
            <if test="inboundPersonName != null">inbound_person_name,</if>
            <if test="supplierName != null">supplier_name,</if>
            <if test="qualityInspectionStatus != null">quality_inspection_status,</if>
            <if test="isInbound != null">is_inbound,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="lastModifiedBy != null">last_modified_by,</if>
            <if test="lastModifiedTime != null">last_modified_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="warehouseName != null">#{warehouseName},</if>
            <if test="productName != null">#{productName},</if>
            <if test="productCategory != null">#{productCategory},</if>
            <if test="productQuantity != null">#{productQuantity},</if>
            <if test="productTotalPrice != null">#{productTotalPrice},</if>
            <if test="productSpecification != null">#{productSpecification},</if>
            <if test="inboundPersonName != null">#{inboundPersonName},</if>
            <if test="supplierName != null">#{supplierName},</if>
            <if test="qualityInspectionStatus != null">#{qualityInspectionStatus},</if>
            <if test="isInbound != null">#{isInbound},</if>
            <if test="tenantId != null">#{tenantId},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="lastModifiedBy != null">#{lastModifiedBy},</if>
            <if test="lastModifiedTime != null">#{lastModifiedTime},</if>
         </trim>
    </insert>

    <update id="updateBizInboundList" parameterType="BizInboundList">
        update biz_inbound_list
        <trim prefix="SET" suffixOverrides=",">
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="warehouseName != null">warehouse_name = #{warehouseName},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="productCategory != null">product_category = #{productCategory},</if>
            <if test="productQuantity != null">product_quantity = #{productQuantity},</if>
            <if test="productTotalPrice != null">product_total_price = #{productTotalPrice},</if>
            <if test="productSpecification != null">product_specification = #{productSpecification},</if>
            <if test="inboundPersonName != null">inbound_person_name = #{inboundPersonName},</if>
            <if test="supplierName != null">supplier_name = #{supplierName},</if>
            <if test="qualityInspectionStatus != null">quality_inspection_status = #{qualityInspectionStatus},</if>
            <if test="isInbound != null">is_inbound = #{isInbound},</if>
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="lastModifiedBy != null">last_modified_by = #{lastModifiedBy},</if>
            <if test="lastModifiedTime != null">last_modified_time = #{lastModifiedTime},</if>
        </trim>
        where inbound_list_id = #{inboundListId}
    </update>

    <delete id="deleteBizInboundListByInboundListId" parameterType="Long">
        delete from biz_inbound_list where inbound_list_id = #{inboundListId}
    </delete>

    <delete id="deleteBizInboundListByInboundListIds" parameterType="String">
        delete from biz_inbound_list where inbound_list_id in 
        <foreach item="inboundListId" collection="array" open="(" separator="," close=")">
            #{inboundListId}
        </foreach>
    </delete>
</mapper>